h1 {
  text-align: center;
  font-size: x-large;
  color: violet;
}

h2 {
  text-align: left;
  font-size: large;
  color: darkred;
  text-emphasis: bold;
}

h3,
h4,
h5 {
  text-align: left;
  font-size: medium;
  color: darkred;
}
